@model List<Beer>

<h1>Cervezas</h1>
<p>
	<a asp-action="Create">Crear</a>
</p>
<table>
	<thead>
		<tr>
			<th>Marca</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var beer in Model)
		{

			<tr>
				<td>@Html.DisplayFor(m=>beer.Brand.Name)</td>
				<td>@Html.DisplayFor(m=>beer.Name)</td>
			</tr>
		}
	</tbody>
</table>