@model List<Brand>
<h1>Marcas</h1>
<table>
	<thead>
		<tr>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var brand in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m=>brand.Name)</td>
			</tr>
		}
	</tbody>
</table>